.show-page {
  h1 {
    color: rgb(220,220,220);
    font-weight: lighter;
    font-size: 56px;
  } h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    opacity: 1;
  } h3 {
    color: #F89D29;
    font-size: 30px;
    } p {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 1;
  } a:hover {
    text-decoration: none;
  }
}
#modal-paragraph {
  color: rgb(150,150,150)
}
.show-link-logo {
  margin-left: 10px;
  opacity: 1 !important;
}
.show-banner {
  padding: 0;
}
.show-map {
  position: fixed;
  left: 1050px;
  top: 80px;
}
.city-information {
  margin: 45px;
  margin-top: 0px;
  padding-bottom: 50px;
}
.show-background {
  background-size: cover !important;
  min-height: 100vh;
  background-attachment: fixed;
}
.image-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(150,150,150,0.7)
} p {
  margin-left: 10px;
  opacity: 1;
}
.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-card {
  padding-bottom: 50px;
}
.suggestion {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.suggestion-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.suggestion-image {
  width: 150px;
  height: 100px;
}

