.show-page {
  h1 {
    color: rgb(220,220,220);
    font-weight: lighter;
    font-size: 56px;
  } h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    opacity: 1;
  } h3 {
    color: #F89D29;
    font-size: 30px;
    } p {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 1;
  } a:hover {
    text-decoration: none;
  }
}
.show-link-logo {
  margin-left: 10px;
  opacity: 1 !important;
}
.info-card {
  padding-bottom: 50px;
}
.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestion {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.suggestion-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.suggestion-image {
  width: 150px;
  height: 100px;
}

#map {
  width: 300px;
  height: 600px;
}

.modal-button {
  color: #fff;
  background-color: rgba(248,157,41,0.6);
  border-color: #f79210;
  border-radius: 20px;
}

.slideshow-container {
  width: 450px;
  height: 275px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 500px) {
  .show-background {

  }

  #map {

  }

  .image-and-text {

  }

  .show-page {
    h1 {
      font-size: 42px;

    } h2 {
      font-size: 18px;
    } p {
      font-size: 12px;
      margin: 15px;
    }
  }

  .show-map {

  }
  .gen-image {

  }

}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 800px) {

}

