.show-page {
  background-color: rgba(255,255,255, 0.9);
  } h1 {
    color: rgb(220,220,220);
    font-weight: lighter;
    font-size: 80px;
    } h2 {
    font-size: 32px;
    font-weight: lighter;
    color: rgb(100, 100, 100);
    opacity: 1;
    } h3 {
    color: #F89D29;
    font-weight: lighter;
    font-size: 32px;
    } h4 {
    font-size: 32px;
    color: rgb(100, 100, 100);
    opacity: 1;
  } p {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(100, 100, 100);
    opacity: 1;
  } a:hover {
    text-decoration: none;
  }
#monospace {
  font-family: 'Roboto Mono', monospace;
}
#logo-text {
  color: #F89D29;
  font-size: 32px;
  margin-top:20px;
}
.top-sights {
  font-size: 40px;
}
.show-link-logo {
  margin-left: 10px;
  opacity: 1 !important;
  margin-top: -25px;
}
.banner-holder {
  display: flex;
  justify-content: space-around;
}
.show-banner {
  width: 100vw;
  height: 80vh;
  background-size: cover !important;
  background-position: center;
}
.city-title {
  padding-top: 20px;
  z-index: 5;
}
.ticket-box {
  margin-top: 50px;
  margin-bottom: 50px;
}
.ticket-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 15px auto;
  background-color: rgb(255,255,255);
  height: 300px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
}
.cheapest {
  color: #5DEEC5;
  font-weight: bold;
}
.ticket-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0 10px 0;
}
.ticket-card-body-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.column-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.tickets {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.ticket-out {
  display: flex;
  flex-direction: row;
}
.ticket-back {
  display: flex;
  flex-direction: row;
}
.airline-logo {
  height: 20px;
  width: 20px;
}
.fa-plane {
  font-size: 20px;
}
.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ttd-and-slideshow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}
.things-to-do {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
}
.ttd-title {
  display: flex;
  flex-direction: row;
}
.ttd-title-text {
  color: rgb(255,255,255);
  margin-left: -180px;
  z-index: 5;
}
.things-blur {
  width: 200px;
  height: 140px;
  background: linear-gradient(rgba(0,0,0, 1), rgba(0,0,0,0.9));
}
.slideshow-container {
  position: relative;
  margin: auto 0;
}
.slideshow-images {
  width: 400px;
  height: 300px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.map-holder {
  display: flex;
  justify-content: space-around;
}
#map {
  width: 100vw;
  height: 100vh;
}
#shareBtn {
  margin-bottom: 0;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 600px) {
  .ttd-and-slideshow {
    flex-direction: column;
  }
  .things-to-do {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
    margin-bottom: 20px;
  }
  .thing {
    width:90vw;
  }
  .slideshow-images {
    width: 100vw;
  }
  .ttd-title {
    width: 100vw;
    margin-left: 10vw;
  }
  .column-two {
    padding: 0;
  }
  #weekend-title {
    font-size: 22px;
    padding-bottom: 0;
  }
  .ttd-and-slideshow {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ticket-box {
    margin-top: 10px;
  }
  #logo-text {
    font-size: 24px;
  }
  .logo-world {
    height: 13px;
    width: 13px;
  }
  #top-sights {
    font-size: 24px;
  }
  .ticket-card {
    height: 250px;
  }
  .ticket-card-body {
    padding: 0 0 10px 0;
  }
  .show-page {
    h1 {
      font-size: 42px;

    } h2 {
      font-size: 18px;
    } p {
      font-size: 12px;
      margin: 0 10px;
    }
  }
}
@media only screen and (max-width: 350px) {
  .show-page {
    p {
      margin: 0 5px;
    }
  }
}
