// Specific CSS for your home-page
body {
  background: #4da0b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3D7EAA, #F89D29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3D7EAA, #F89D29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-world {
  height: 30px;
  width: 30px;
}

.home-page {

  h1 {
    color: #F89D29;
    font-size: 56px;
  } h2 {
    color: rgb(220,220,220);
  } p {
    margin: 0px 200px;
    color: rgb(220,220,220);
    font-size: 40px;
  }
}

.bigger-icon {
  font-size: 50px;
  color: rgb(220,220,220);
}

a.fb-msg-btn{

  display: inline-block;

  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  margin: 0;
  background-color: #0084ff;
  border: 0;
  cursor: pointer;
  outline: none;
  a &:hover {
    background-color: #0268c7;
    text-decoration: none;
  }
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  } h2 {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h2 {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
  }
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:150px;
}
