<div class="home-page">
  <h1 class="text-center">v<%= image_tag "world", :class=> "home-world" %>yagr</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
