<div class="index-page">
  <div class="link-logo">
  <%= link_to root_path do %>
    <h3>v<%= image_tag "world", :class=> "logo-world" %>yagr</h3>
  <% end %>
  </div>
  <br>
  <br>
  <div class="what">
    <h1 class="text-center">Hey, what are you doing here!?</h1>
    <h2 class="text-center">This page is not the page you are looking for</h2>
    <br>
    <br>
    <%= cl_image_tag "voyagr/droids.png", :width=>580, :crop=>"scale" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

